body{
    background-image: url(img/background.webp);
    background-repeat: no-repeat;
    background-position: top right ;
    background-size: cover;
    font-family:'Courier New', Courier, monospace;
}

#headerspan{
   color:rgb(174, 96, 96);
}
#main-container{
    display:flex;
    flex-direction:row;
    justify-content:center;
    text-align: center;
   
}
.article{
    border:2px solid rgba(159, 177, 203, 0.29);
    background-color: rgb(194, 207, 218);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    margin:15px;
    padding:13px;
    width:170px;
    opacity:90%;
}
.article-temprature{
    font-size: larger;
}
.tempr{
    font-size: 1.5rem;
    font-weight: bold;
}
#nav-container{
    background-color: rgb(124, 83, 124);
    display: flex;
    justify-content: center;
}
#fname{
    margin: 10px;
    text-align: center;
    border: none;
    border-radius:10px ;
}
#footer-name{
    float:right;
    font-weight:bold;
}